

.widget{
    background: white;
    border: 1px solid #e3e3e3;
    text-align: justify;
    padding: 20px;
    margin-bottom: 15px;
}

@media(max-width:786px){
.review{
    
}
.review img{
    width: 70px;
    margin-left:120px;
   
   
     
}
}